<div class="card shadow-sm text-text-main h-full px-6 py-4">
    <p-toast />
    <app-data-table
        [data]="detallesOrdenVenta"
        [cols]="cols"
        [(selection)]="selectedDetallesOv"
        [globalFilterFields]="globalFilterFields"
        dataKey="nroItemTemp"
        (shouldonCreate)="openNew()"
        (shouldonEdit)="editProduct($event)"
        (shouldonDelete)="deleteProduct($event)"
        (shouldonDeleteSelected)="deleteAllProduct($event)"
    ></app-data-table>

    <p-confirmDialog [style]="{ width: '450px' }" />

    <app-dialog-detalle-orden-venta
        #dialogDetalle
        (shouldNewDetalle)="agregarDetalleTabla($event)">
    </app-dialog-detalle-orden-venta>
</div>
