<div class="card p-2 m-0 shadow-lg bg-bg-card transition-colors duration-300">
  <div class="flex-none flex flex-col gap-1 mb-4 px-4 pt-4">
    <div class="flex items-center gap-2 text-primary">
      <i class="pi pi-box text-xl"></i>
      <span class="text-xl font-semibold">Inventario</span>
    </div>
    <span class="text-surface-500 dark:text-surface-400 text-sm">
      Gestión de productos y stock
    </span>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<app-data-table
    #dataTable
    [data]="inventarioItems"
    [cols]="cols"
    [globalFilterFields]="['numeroOrden', 'producto.nombre', 'fechaOrdenCompra', 'estado']"
    [(selection)]="selectedItems"
    (shouldonCreate)="openNew()"
    [showEdit]="false"
    [showDelete]="false"
    [loading]="false"
    (saveSuccess)="loadInventario()"
></app-data-table>
</div>
