<div class="card p-2 m-0 shadow-lg bg-bg-card transition-colors duration-300">
  <div class="flex-none flex flex-col gap-1 mb-4 px-4 pt-4">
    <div class="flex items-center gap-2 text-primary">
      <i class="pi pi-users text-xl"></i>
      <span class="text-xl font-semibold">Gestión de Usuarios</span>
    </div>
    <span class="text-surface-500 dark:text-surface-400 text-sm">
      Administración de usuarios y roles
    </span>
  </div>


<p-confirmDialog />

<app-data-table
    #dataTable
    [data]="usuarios"
    [cols]="cols"
    [globalFilterFields]="['codigo', 'nombre', 'email', 'rolLabel', 'rol']"
    [(selection)]="selectedUsuarios"
    (shouldonCreate)="openNew()"
    (shouldonEdit)="editUsuario($event)"
    (shouldonDelete)="deleteUsuario($event)"
    (shouldonDeleteSelected)="deleteSelectedUsuarios($event)"
></app-data-table>

</div>

