@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "primeicons/primeicons.css";

:root {
  --body-bg: var(--p-surface-50);
  --body-text-color: var(--p-surface-900);
  --card-border: 1px solid var(--p-surface-200);
  --card-bg: var(--p-surface-0);
  --border-color: var(--p-surface-200);
  --text-color: var(--p-surface-700);
  --overlay-background: #ffffff;
}

:root[class="my-app-dark"] {
  --body-bg: var(--p-surface-950);
  --body-text-color: var(--p-surface-50);
  --card-border: 1px solid transparent;
  --card-bg: var(--p-surface-900);
  --border-color: var(--p-surface-700);
  --text-color: var(--p-surface-0);
  --overlay-background: var(--p-surface-900);
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--body-bg);
  font-weight: normal;
  color: var(--body-text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

@layer tailwind-base {
  .card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

@layer tailwind-utilities {
  .input-custom-border {
    border-width: 1px;
    border-style: solid;
    padding: 0.5rem 1rem;
    border-color: #d1d5db; /* gray-300 */

    &:hover {
      border-color: #38bdf8; /* sky-400 */
    }
  }
}

:root[class="my-app-dark"] .input-custom-border {
  border-color: #ffffff; /* white */

  &:hover {
    border-color: #38bdf8; /* sky-400 */
  }
}

.datatable-paginator-right .p-paginator {
  justify-content: flex-end;
}
